{% extends 'comptes/dashboard.html' %}
{% block content %}
    <style>
       
        .profile-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top:30px;
            max-width: 420px;
            background-color: #fff;
            border-radius: 24px;
            padding: 20px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.3);

        }
        .images{
            position: relative;
            margin-bottom: 10px;
            height: 220px;
            width: 220px;
            border-radius: 50%;
            background: #4070f4;
            padding: 3px;
        }
        .image .profile-img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #fff;
        }
        .profile-card .text-data{
            display: flex;
            flex-direction: column;
            color: #333;
        }
        .text-data .name{
            font-size: 22px;
            font-weight: bold;
        }
        .text-data .job{
            font-size: 15px;
            margin-top: 10px;
            font-weight: 400;
        }
    </style>

<center>
<div class="profile-card">
   
    <div class="text-data">
        <span class="name">{{product_object.article_name}}</span>
        <span class="job">Libele: {{ product_object.libele }} </span>
        <span class="job">Type: {{ product_object.libele }} </span>
        <span class="job">Stock Initial: {{ product_object.prix }} </span>
        <span class="job">Prix: {{ product_object.prix }} FCFA</span>
        <span class="job">Quantite: {{ product_object.quantite }}</span>
        <span class="job">Montant: {{ montant }} FCFA</span>
        <span class="job">Stock Final: {{ sf }} </span>
        <span class="job">Date: {{ product_object.date }}</span>
        
    </div>
    
</div>
</center>


{% endblock %}