<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset form</title>
</head>
<body>
    <center>
        <h3>Entrer votre nouveau mot de passe</h3>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" name="Upload Password" class="btn btn-primary">Valider<sl-icon slot="suffix" name="send"></sl-icon></button>

    </form>
    </center>
</body>
</html>
    

