<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset send</title>
</head>
<body>
    <center>
        <h3 >Consulter votre boite email <sl-icon slot="suffix" name="envelope"></sl-icon> pour reinitialiser votre mot de passe nous vous avons envoyer un email <sl-icon slot="suffix" name="chat-left-dots"></sl-icon></h3>
        
            </center>
</body>
</html>

 

