<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    
    <center>
        <h3>pour reinitialiser votre mot de passe Entrer votre address email</h3>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" name="Send email" class="btn btn-primary">Envoyer <sl-icon slot="suffix" name="send"></sl-icon></button>

    </form>
    </center>
</body>
</html>



