{% extends 'comptes/dashboard.html' %}
{% load static %}
{% block content %}

<style>
    .tab-flux {
        margin-top: 30px;
    }

    body.dark table {
        border: none;
        color: white;
    }

    table {
        border-collapse: collapse;
        width: 98%;
        height: 70px;
        margin-left: 10px;
        margin-top: 5px;
        border: 1px solid #bdc3c7;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);

    }

    tr {
        transition: all .2s ease-in;
        cursor: pointer;
    }

    th {
        height: 35px;
    }

    td,
    th {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .header {
        background-color: var(--primary-color);
        color: white;
    }

    tr:hover {
        transform: scale(1.008);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }

    @media only screen and (max-width:768px) {
        table {
            width: 90%;
        }
    }

    .sidebar.close~.home .b-cart {
        width: 940px;
        margin-left: 25px;
    }

    .sidebar.close~.home .b-car {
        width: 1010px;
        margin-left: 50px;
        
    }

    .b-car {
        width: 860px;
        height: 550px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color-light);
        color: var(--text-color);
        margin-left: 50px;
    }

    .b-car .searchbar {
        width: 96%;
        margin-top: 6px;
        display: flex;
        height: 11%;
    }

    .b-car .searchbar .btn {
        display: flex;
        width: 20%;
    }

    .b-car .searchbar .btn .btnadd {
        width: 50px;
        height: 50px;
        margin-top: 5px;
        margin-left: 10px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background: var(--primary-color);
        position: absolute;
    }

    .b-car .searchbar .btn .btnprint {
        width: 50px;
        height: 50px;
        margin-top: 5px;
        margin-left: 70px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background: var(--primary-color);
        position: absolute;
    }

    .search_box {

        width: 325px;
        max-width: 325px;
        height: 45px;
        margin-top: 10px;
        margin-left: 450px;
        display: flex;
    }

    .search_box .input_search {
        padding: 10px 10px 10px 35px;
        border: 2px solid var(--brd-clr);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: calc(100% - 100px);
        height: 45px;
    }

    .search_box .input_search:focus {
        border-color: var(--brd-focus-clr);
    }

    .search_box button {
        width: 60px;
        height: 45px;
        border: 0;
        background: var(--primary-color);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: var(--brd-clr);
        cursor: pointer;
    }

    .search_box button:hover {
        background: var(--btn-hvr-clr);
        border-color: var(--btn-hvr-clr);
    }

    .dialogeS {
        width: 78vw;
        height: 89vh;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .dialogeS .dialogcloseS {
        width: 4vh;
        height: 4vh;
        border-radius: 6px;
        background: red;
        justify-content: center;
        align-items: center;

        box-shadow: 0PX 0PX 5PX -1PX;
        float: right;
    }

    .dialogeS .dialogcloseS button {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background: transparent;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;

    }

    .dialogeS .dialogcontent {
        width: 80%;
        height: 80%;
        background: var(--bg-dialog);
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        overflow-y: auto;

    }

    .dialogeupdS {
        width: 78vw;
        height: 89vh;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .dialogeupdS .dialogcloseupdS {
        width: 4vh;
        height: 4vh;
        border-radius: 6px;
        background: red;
        justify-content: center;
        align-items: center;

        box-shadow: 0PX 0PX 5PX -1PX;
        float: right;
    }

    .dialogeupdS .dialogcloseupdS button {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background: transparent;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;

    }

    .dialogeupdS .dialogcontent {
        width: 80%;
        height: 80%;
        background: var(--bg-dialog);
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        overflow-y: auto;

    }

    .dialogeviewS {
        width: 78vw;
        height: 89vh;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .dialogeviewS .dialogcloseviewS {
        width: 4vh;
        height: 4vh;
        border-radius: 6px;
        background: red;
        justify-content: center;
        align-items: center;

        box-shadow: 0PX 0PX 5PX -1PX;
        float: right;
    }

    .dialogeviewS .dialogcloseviewS button {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background: transparent;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;

    }

    .dialogeviewS .dialogcontent {
        width: 80%;
        height: 80%;
        background: var(--bg-dialog);
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        overflow-y: auto;

    }
    .dialogetask {
        width: 78vw;
        height: 89vh;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .dialogetask .dialogclosetask {
        width: 4vh;
        height: 4vh;
        border-radius: 6px;
        background: red;
        justify-content: center;
        align-items: center;

        box-shadow: 0PX 0PX 5PX -1PX;
        float: right;
    }

    .dialogetask .dialogclosetask button {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background: transparent;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;

    }

    .dialogetask .dialogcontent {
        width: 80%;
        height: 80%;
        background: var(--bg-dialog);
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        overflow-y: auto;

    }
    .dialogeupdtask {
        width: 78vw;
        height: 89vh;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .dialogeupdtask .dialogcloseupdtask {
        width: 4vh;
        height: 4vh;
        border-radius: 6px;
        background: red;
        justify-content: center;
        align-items: center;

        box-shadow: 0PX 0PX 5PX -1PX;
        float: right;
    }

    .dialogeupdtask .dialogcloseupdtask button {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background: transparent;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;

    }

    .dialogeupdtask .dialogcontent {
        width: 80%;
        height: 80%;
        background: var(--bg-dialog);
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        overflow-y: auto;

    }

    .inp-dia {
        margin: 9px;
        width: 36VH;
        height: 5vh;
        border: solid 1px grey;
        color: var(--text-color);
        border-radius: 8px;
        padding: 4px;
    }

    .add-dia {
        width: 18%;
        margin-left: 51px;
        border-radius: 6px;
        background: rgb(0, 120, 255);
        font-size: 18px;
        height: 30px;
        cursor: pointer;
        border: none;
        color: white;
    }
</style>


<div class='bedrum'>
    <sl-breadcrumb>
        <sl-breadcrumb-item>
            Ressources Humaines
        </sl-breadcrumb-item>
        <sl-breadcrumb-item>Personnels</sl-breadcrumb-item>
    </sl-breadcrumb>
</div>
<div class="tab-flux">
    <sl-tab-group placement="start">
        <sl-tab slot="nav" panel="custom">Workers Manager</sl-tab>
        <sl-tab slot="nav" panel="general">Tasks Manager</sl-tab>
        <sl-tab-panel name="custom">
            <div class="b-car">
                <div class="dialogeS">
                    <center>
                        <div class="dialogcontent">
                            <div class="dialogcloseS"><button>X</button></div>
                            <center>
                                <h3>Ajouter un Employer</h3>
                            </center>
                            <form method="POST" action="{% url 'create_Pers' %}"  enctype="multipart/form-data">
                                {% csrf_token %}
                            <input class="inp-dia" type="text" placeholder="Nom" name="name">
                            <input class="inp-dia" type="text" placeholder="Prenom" name="surname">
                            <input class="inp-dia" type="text" placeholder="Matricule" name="matricule"><br />
                            <input class="inp-dia" type="text" placeholder="cni" name="cni">
                            <input class="inp-dia" type="text" placeholder="Nationalite" name="nationalite">
                            <input class="inp-dia" type="date" placeholder="Date de Naissance" name="date"><br />
                            Sexe<select class="inp-dia" name="sexe">
                                <option>Homme</option>
                                <option>Femme</option>
                            </select>
                            <input class="inp-dia" type="email" placeholder="Email" name="email"><br />
                            <input class="inp-dia" type="number" placeholder="Tel" name="tel">
                            <input class="inp-dia" type="text" placeholder="Adresse" name="quartier">
                            <input class="inp-dia" type="text" placeholder="Poste" name="poste"><br />
                            
                            <button class="add-dia"><sl-icon slot="prefix" name="plus-lg"></sl-icon> Ajouter</button>
                        </form>
                        </div>
                    </center>
                </div>
                


                <div class="searchbar">
                    <div class="btn">
                        <sl-tooltip content="Ajouter un Employer">
                            <button class="btnadd" id="badd">
                                <center> <sl-icon name="person-plus"
                                        style="width:30px; height:30px;color:white;"></sl-icon>
                                    <center>
                            </button>
                        </sl-tooltip>
                        <sl-tooltip content="Imprimer la liste du Personnel">
                            <a href="printpers"><button class="btnprint">
                                <center> <sl-icon name="printer" style="width:30px; height:30px;color:white;"></sl-icon>
                                </center>
                            </button></a>
                        </sl-tooltip>
                    </div>
                    <div class="search_box">
                        <form>
                        <input type="text" class="input_search" placeholder="Search by name" name="item_nameE">
                        <button><sl-icon name="search" style="width:20px; height:20px;color:white;"></sl-icon></button>
                        </form>
                    </div>
                </div>
                <table>
                    <tr class="header">
                        <th>
                            <center>ID</center>
                        </th>
                        <th>
                            <center>Nom</center>
                        </th>
                        <th>
                            <center>Prenoms</center>
                        </th>

                        <th>
                            <center>Email</center>
                        </th>
                        <th>
                            <center>Tel</center>
                        </th>
                        <th>
                            <center>Options</center>
                        </th>
                    </tr>
                    {% for obs in objs %}
                    
                    <tr>
                        <td>
                            <center>{{obs.pk}}</center>
                        </td>
                        <td>
                            <center>{{obs.name}}</center>
                        </td>
                        <td>
                            <center>{{obs.surname}}</center>
                        </td>

                        <td>
                            <center>{{obs.email}}</center>
                        </td>
                        <td>
                            <center>{{obs.tel}}</center>
                        </td>
                        <td>
                            <center>
                              
                                <sl-tooltip content="Voir">
                                    <a href="detail_Pers/{{ obs.pk }}">    <sl-icon-button id="btn-dialogeviewS" name="eye"
                                        style="color: blue; font-size: 22px;"></sl-icon-button></a>
                                </sl-tooltip>
                                <sl-tooltip content="Modifier">
                                    <a href="update_Pers/{{ obs.pk }}">    <sl-icon-button id="btn-upddialoges" name="pencil"
                                        style="color: green; font-size: 22px;"></sl-icon-button></a>
                                </sl-tooltip>
                                <sl-tooltip content="Supprimer">
                                    <a href="delete_Pers/{{ obs.pk }}">    <sl-icon-button name="trash" style="color: red; font-size: 22px;"></sl-icon-button></a>
                                </sl-tooltip>
                            </center>    
                        </td>
                        
                    </tr>
                    {% endfor %}
                 
                </table>
            </div>
        </sl-tab-panel>
        <sl-tab-panel name="general">
            <div class="b-car">
                <div class="dialogetask">
                    <center><div class="dialogcontent">
                          <div class="dialogclosetask"><button>X</button></div>
                          <center><h3>Ajouter une Tache</h3></center>
                          <form method="POST" action="{% url 'create_Task' %}">
                            {% csrf_token %}
                          <input class="inp-dia" type="text" placeholder="Nom" name="nom">
                          <input class="inp-dia" type="number" placeholder="Montant" name="montant"><br/>
                          Chef de Projet<select class="inp-dia" name="chef_projet">
                            {% for ob in objs %}
                                <option><pre>{{ ob.name }}({{ob.email}})</pre></option>
                            {% endfor %}
                          </select>
                          Etat du Projet<select class="inp-dia" name="etat">
                            <option>Nouveau</option>
                            <option>En Cour</option>
                            <option>Realiser</option>
                          </select><br/>
                          Date de debut<input class="inp-dia" type="date" name="date_debut">
                          Date de fin<input class="inp-dia" type="date" name="date_fin">
                          <textarea class="inp-dia" placeholder="Services" style="height:100px;" name="service" ></textarea><br/>
                          <button class="add-dia"><sl-icon slot="prefix" name="plus-lg"></sl-icon> Ajouter</button>
                        </form>
                        </div></center>
                    </div>
                        
                    
                    <div class="searchbar">
                        <div class="btn">
                            <sl-tooltip content="Ajouter un Projet">
                        <button class="btnadd" id="baddtask">
                           <center> <sl-icon name="plus-lg" style="width:30px; height:30px;color:white;"></sl-icon><center>
                        </button>
                            </sl-tooltip>
                        </div>
                        <div class="search_box">
                        <form>
                            <input type="text" class="input_search" placeholder="Search by name" name="item_nameD">
                            <button><sl-icon name="search" style="width:20px; height:20px;color:white;"></sl-icon></button>
                        </form>
                        </div>
                    </div>
                        <table>
                            <tr class="header">
                                <th><center>ID</center></th>
                                <th><center>Nom Tache</center></th>
                                <th><center>Montant</center></th>
                      
                                <th><center>Services</center></th>
                                <th><center>Chef Projet</center></th>
                                <th><center>Etat</center></th>
                                <th><center>Options</center></th>
                            </tr>
                            {% for ob in obj %}
                            <tr>
                                <td><center>{{ ob.pk }}</center></td>
                                <td><center>{{ ob.nom }}</center></td>
                                <td><center>{{ ob.montant }}</center></td>
                                <th><center>{{ ob.service }}</center></th>
                                <td><center>{{ ob.chef_projet }}</center></td>
                                <td><center>{{ ob.etat }}</center></td>
                                <td><center>
                                    <sl-tooltip content="Modifier">
                                        <a href="update_Task/{{ ob.pk }}">    <sl-icon-button id="btn-upddialoges" name="pencil"
                                            style="color: green; font-size: 22px;"></sl-icon-button></a>
                                    </sl-tooltip>
                                    <sl-tooltip content="Supprimer">
                                        <a href="delete_Task/{{ ob.pk }}">    <sl-icon-button name="trash" style="color: red; font-size: 22px;"></sl-icon-button></a>
                                    </sl-tooltip>
                                </td></center>
                            </tr>
                            {% endfor %}
                            
                        </table>
            </div>
            </sl-tab-panel>
    </sl-tab-group>

</div>
<script>

    const dialogeS = document.querySelector(".dialogeS");
    const OpenDialogeS = document.querySelector("#badd");
    const closedialogS = document.querySelector(".dialogcloseS button");
    const dialogetask= document.querySelector(".dialogetask");
    const OpenDialogetask=document.querySelector("#baddtask");
    const body = document.querySelector("body");
    const closedialogtask= document.querySelector(".dialogclosetask button");
    
    OpenDialogetask.addEventListener('click',()=>{
    dialogetask.style.display='flex'
    })
    OpenDialogeS.addEventListener('click', () => {
        dialogeS.style.display = 'flex'
        
    })
    closedialogS.addEventListener('click', () => {
        dialogeS.style.display = 'none'
    })
    closedialogtask.addEventListener('click',()=>{
    dialogetask.style.display='none'
    })


</script>

{% endblock %}